{% extends 'main.html' %}
{% load static %}
{% load store_extra %}
{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-md-4">
            <h2>Đăng nhập</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Tài khoản</label>
                    <input type="text" name="username" id="id_username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Mật khẩu</label>
                    <input type="password" name="password" id="id_password" class="form-control" required>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}